.x_axis_barchart {
    font-size: 20px;
}

.x_axis_barchart .domain {
    display: none;
}

.y_axis_barchart_left {
    font-size: 20px;
}

.y_axis_barchart_left .domain {
    display: none;
}

.y_axis_barchart_left .tick:first-of-type text {
    display: none;
}

.y_axis_barchart_right {
    font-size: 20px;
    color: #9d94ff;
}

.y_axis_barchart_right .domain {
    display: none;
}

.y_axis_barchart_right .tick:first-of-type text {
    display: none;
}

.legend-text {
    font-family: 'Varela Round';
    color: #dcdcdc;
    font-size: 20px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 10px;
    padding: 30px;
    background: #ffffff;
}


h1 {
    font-style: italic;
    font-size: 2rem;
    text-align: center;
}

.axis-title {
    font-size: 1.3em;
}

.axis-title-scatterplot {
    font-size: 2.5em;
}

.y-axis {
    font-size: 1.8em;
}

.x-axis {
    font-size: 1.8em;
}

.legend-rect {
    transition: all 0.3s ease; /* Smooth transition for the style changes */
}

.legend-rect.active {
    cursor: pointer;
    opacity: 1; /* Full opacity for active state */
}

.legend-rect.inactive {
    cursor: pointer;
    opacity: 0.2; /* Lowered opacity for inactive state */
    fill: #ccc; /* Gray color for inactive state */
}

.container {
    display: flex;
}

.point {
    opacity: 0.9;
}

.margin-right {
    margin-right: 30px;
}

#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 17px;
    font-weight: 500;
    padding: 8px;
    min-width: 50px;
    color: #333;
}

#legend-tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 59px;
    color: #333;
}

.tooltip-bold {
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.tooltip-text {
    color: #000;
    font-size: 12px;
    font-weight: 200;
}

#tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}

.legend-btn:hover.legend-btn.inactive:hover {
    opacity: 0.7;
}

.legend-btn.inactive {
    opacity: 0.5;
}

.tooltip-bold {
    font-size: 25px;
    font-weight: 200;
}

.tooltip-text {
    font-size: 20px;
    font-weight: 200;
}

/* barchart stuff */
.container-rectchart{
    display: flex;
    align-items: center;
}

.rectchartlegend-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
  }

.rectchartlegend {
    width: 150px;
    height: 20px;
    background: linear-gradient(to right, #ffffff, #7733ff);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
  }

.rectchart-axis-title{
    font-size: 16px;
}

.rectchart-subtitle{
    font-size: 16px
}

.container-top {
    display: flex;
}